<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <script src="../components/media/media.js"></script>
    <script type="module" src="../scripts/library.js" defer></script>
    <link rel="stylesheet" href="../styles/library.css">
</head>
<body>
    <nav>
        <input type="text" id="search-bar" placeholder="Search.."></input>
        <!-- <button>Filter</button> -->
    </nav>

    <main>
        <!-- Media Components get inserted in library.js script -->
    </main>
</body>
</html>