<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <script type="module" src="../scripts/movie.js" defer></script>
    <script type="module" src="../components/back_button/back_btn.js" defer></script>
    <link rel="stylesheet" href="../styles/movie.css">
</head>
<body>
    <back-btn></back-btn>
    <img id="poster" src="http://192.168.178.83:8000/poster/jim knopf und lukas" alt="poster">
    <h2 id="title">S.W.A.T</h2>
    <div id="details">
        <p id="duration">1:30h</p>
        <p id="description">Description</p>
    </div>

    <div id="buttons">
        <button id="play-btn" class="btn">Play</button>
        <select title="versions" id="version-btn" class="btn">
        </select>
    </div>
</body>
</html>