<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player</title>

    <style>
        video{
            width: 100%;
        }
    </style>

    <script type="module" src="../scripts/player.js" defer></script>
    <script type="module" src="../components/back_button/back_btn.js" defer></script>
</head>
<body style="display: flex; justify-content: center;">
    <video controls autoplay style="padding: 30px">
        <source id="source" src="">
    </video>

    <back-btn></back-btn>
</body>

</html>