<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/player.css">
    <link rel="manifest" href="../manifest.webmanifest">
    <link rel="stylesheet" href="../styles/font.css">

    <title>Player</title>

    <script type="module" src="../scripts/player.js" defer></script>
    <script type="module" src="../components/back_button/back_btn.js" defer></script>
    
</head>
<body>
    <video controls autoplay playsinline>
        <source id="source" src="">
    </video>

    <!-- Fullscreen view only usefull on TV Screen -->
    <button id="fullscreen">Press 0 for Fullscreen view</button>
    <back-btn></back-btn>

</body>

</html>