<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series</title>
    <script src="../components/episode/episode.js"></script>
    <script type="module" src="../scripts/series.js" defer></script>
    <script type="module" src="../components/back_button/back_btn.js" defer"></script>
    <link rel="stylesheet" href="../styles/movie.css">
</head>
<body>
    <back-btn></back-btn>
    <img id="poster" src="http://xxx.xxx.xxx.xxx:xxxx/poster/jim knopf und lukas" alt="poster">
    <h2 id="title">S.W.A.T</h2>
    <div id="details">
        <p id="description">Description</p>
    </div>

    <div id="buttons">
        <button id="play-btn" class="btn">Play</button>
    </div>
    <div id="episodes">
    </div>
</body>
</html>