
:host{
    width: 75%;
    display: grid;
    place-items: center;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.wrapper{
    color: black;
    display: grid;
    place-items: center;
    grid-template-columns: 0.5fr 1fr 2fr;

    background-color: gray;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    
}

.wrapper:hover{
    background-color: rgb(84, 84, 84);
    cursor: pointer;
}

.index{
    font-size: larger;
    font-weight: 900;
}

.name{
    font-weight: 900;
}

.description{
    font-weight: 700;
    min-width: 100px;
    
    place-self: start;
}