html{
    height: 100%;
    overscroll-behavior: none;
}
body{
    color: white;
    margin: 0;
    background-color: rgb(34, 34, 34);
}


button{
    outline: none;
}
button:hover{
    cursor: pointer;
}

#title{
    margin: 5px;
    margin-top: 15px;
    padding-bottom: 0px;
    font-weight: 1000;
    font-size: 2.5rem;
}

#details > *{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}


#duration{
    font-size: 1.5rem;
}

#description{
    margin-top: 5px;
    color: lightgrey;

    font-size: 1.8rem;
    font-weight: 900;

}


#buttons{
    display: grid;
    place-items: center;
    gap: 10px;
    margin-top: 75px;
}

.btn{
    width: 200px;
    border-style: none;
    border-radius: 5px;
    height: 30px;

    font-size: 18px;
    font-weight: 900;
}

#play-btn{
    background-color: white;
    color: black;
}

#play-btn:active{
    background-color: lightgrey;
}

#version-btn{
    background-color: darkgray;
    color: black;
}

#version-btn:active{
    background-color: rgb(60, 60, 60);
}


#episodes{
    display: grid;
    place-items: center;
}

/* big */
@media only screen and (min-width: 1100px) {
    body{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        place-items: center;
        column-gap: 10px;
    }
    #details{
        width: 95%;
        grid-column-start: 2;
        text-align: center;
        max-height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #buttons{
        width: 100%;
    }

    .btn{
        width: 75%;
    }
}

/* small */
@media not  screen and (min-width: 1100px) {
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-items: center;
        column-gap: 10px;
    }

    #details{
        width: 100%;
        margin-top: 20px;
        place-self: start;
        display: grid;
    }
    #episodes{
        place-self: center;
    }
}

.focusable:focus{
    outline-color: rgb(62, 62, 250);
    border-radius: 15px;
    outline-style: solid;
    outline-width: 8px;
}