body{
    margin: 0;
    display: grid;
    place-items: center;
}

/* small */
@media not  screen and (min-width: 1100px) {
    video{
        width: 100%;
    }
}

/* large */
@media screen and (min-width: 1100px) {
    video{
        /* height: 75vh; */
        max-width: 100%;
        max-height: 75vh;
    }
}